<div class='back-arrow-cont d-flex a-cnter j-center'>
    <h1 class='repair-header d-flex a-center j-center'>All Categories</h1>
</div>
<%if @groups.empty?%>
  <div class='equipments-index-page d-flex a-center j-center'>
    <h1 class='index-header'>No category for this user. Please add a category <%= link_to "here", new_group_path%></h2>
  </div>
<%else%>
  <% @groups.each do |group| %>
  <div class="p-2 m-3  category-div">
   <div class="category-info">
    <p> <%=image_tag "#{group.icon}" ,class:"p-2 m-1 rounded img-thumbnail"%></p>
    <ul class="p-2 m-1">
      <li> <p ><%= link_to group.name, group_path(group), class:"p-2 m-2 text-muted h2" %></p></li>
      <li> <p class="p-2 m-2"> <%= group.created_at.strftime("%d-%b-%Y")%></p></li>
    </ul>
    </div>
    <ul class="p-2 m-1">
    <li><p class="p-2 m-2 h3"> $<%= group.payments.sum(:amount)%></p></li>
    <li>
    <%if can? :destroy, group%>
        <%=button_to "Delete", group_path(group.id), method: :delete, class:"btn btn-primary px-4 m-2"%>
      <%end%>
    </li>
    </ul>
    </div>
  <%end%>
<%end%>
