<div class="p-2 category-div">
  <div class="category-info">
    <ul class="p-2 m-2">
        <li> <p class="p-2 m-2 text-muted h2" ><%= @group.name%></p></li>
    </ul>
  </div>
  <ul class="p-2 m-2">
    <li><p class="p-2 m-2 h3"> $<%= @group.payments.sum(:amount)%></p></li>
    <li>
    <%if can? :destroy, @group%>
        <%=link_to "Delete", group_path(@group.id), method: :delete, class:"btn btn-primary px-4 m-2"%>
    <%end%>
    </li>
  </ul>
</div>

<% if @group.payments.any? %>
    
    
    <% @group.payments.order(created_at:'DESC').each do |pay|%>
      <div class="p-2 m-3 category-div">
        <div class="category-info">
        <p> <%=image_tag @group.icon ,class:"p-1 mx-1 mt-3 rounded img-thumbnail"%></p>
          <ul class="p-2 m-1">
            <li><p class="p-2 m-2 text-muted h2" ><%= pay.name%></p></li>
            <li> <p class="p-2 m-2"> <%= pay.created_at.strftime("%d-%b-%Y")%></p></li>
          </ul>
        </div>
        <ul class="p-2 m-1">
         <li> <p class="p-2 m-2 h4" >$<%= pay.amount%></p></li>
         <li>
          <%if can? :destroy, pay%>
          <%=button_to "Delete", group_payment_path(group_id: @group.id, id: pay.id), method: :delete, class:"btn btn-primary px-4 m-2"%>
          <%end%>
         </li>
        </ul>
      </div>
    <%end%>
  <%else%>
      <p class="p-2 m-2 h3" >There are no transactions for this category</p>
  <%end%>


<div class="w-100 py-3 px-3 btnn">
    <%= link_to "Add transaction",  new_group_payment_path( @group), class: "btn btn-outline-light  w-75 p-2"%>
</div>