<div class='back-arrow-cont d-flex a-cnter j-center'>
    <h1 class='repair-header d-flex a-center j-center'>Add Payment</h1>
    
</div>
<div class= 'add-equipment add-repair d-flex f-col a-center j-center'> 
    <%=form_with url: payments_path, scope: :data do |f| %>
      <div class="field3 d-flex a-center j-center f-col" >
        <%= f.label :category, 'Category'  %>
        <%=f.text_field :category, value: "#{@group.name}", class:"p-2 form-control", :readonly => true %>
      </div>
      <div class="field3 d-flex a-center j-center f-col">
        <%= f.label :name, 'Name'  %>
        <%= f.text_field :name, :required=>true %>
      </div>
       <div class="field3 d-flex a-center j-center f-col">
        <%= f.label :amount, 'Amount'  %>
        <%= f.number_field :amount, :min => '1', :required=>true %>
      </div>
    <div class="action1 d-flex a-center f-col">
         <%= f.submit "Add Payment"%>
    </div>
      
<% end %>
</div>